<div id="couverture">
  <img src="../assets/vector-forest-sunset-forest-sunset-forest-wallpaper-preview.jpg" alt="photo-couverture">
</div>

<div id="gallerie">
  <div class="photo">
    <img src="../assets/160766-cameras-news-feature-here-are-some-of-the-incredible-photos-from-the-sony-world-photography-awards-2022-image12-kkf5zp3eb9.jpg" alt="photo-1">
  </div>
  <div class="photo">
    <img src="../assets/618.jpg" alt="photo-2">
  </div>
  <div class="photo">
    <img src="../assets/960x0.jpg" alt="photo-3">
  </div>
  <div class="photo">
    <img src="../assets/ba2d8eb946107aad1833587cb726.jpg" alt="photo-4">
  </div>
  <div class="photo">
    <img src="../assets/thumbnail.jpeg" alt="photo-5">
  </div>
  <div class="photo">
    <img src="../assets/0e11a29e19524ecf7aaacc9c4db5d700.competition_3.jpg" alt="photo-6">
  </div>
</div>
