<div id="couverture">
  <img id="hero-img" rel="preload" src="{{HeroImg}}" [ngClass]="isLoaded ? '' : 'blurEffect' " alt="photo-couverture" width="750px" height="425px">
</div>

<div id="gallerie">
  <div class="photo">
    <img src="../assets/photo_renard.webp" alt="photo-1">
  </div>
  <div class="photo">
    <img src="../assets/photo_lion.webp" alt="photo-2">
  </div>
  <div class="photo">
    <img src="../assets/photo_routes.webp" alt="photo-3" loading="lazy" decoding="async">
  </div>
  <div class="photo">
    <img src="../assets/photo_pirogue.webp" alt="photo-4" loading="lazy" decoding="async">
  </div>
  <div class="photo">
    <img src="../assets/photo_bequille.webp" alt="photo-5" loading="lazy" decoding="async">
  </div>
  <div class="photo">
    <img src="../assets/photo_singe.webp" alt="photo-6" loading="lazy" decoding="async">
  </div>
</div>
